<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.3" package="com.itboye.banma">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
	<uses-permission android:name="android.permission.CAMERA"/>
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.WRITE_SETTINGS" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!--【必选】用以设置前台是否显示通知-->
<uses-permission android:name="android.permission.GET_TASKS" />
<!-- 可选 -->
<uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
<uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
<uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
<uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
<uses-permission android:name="android.permission.RESTART_PACKAGES" />
<uses-permission android:name="android.permission.GET_ACCOUNTS" />;
	
	<uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application android:allowBackup="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.itboye.banma.app.AppContext" android:theme="@style/AppTheme">
        
                <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity android:configChanges="orientation|keyboard" android:launchMode="singleTask" android:name="com.umeng.socialize.view.ShareActivity" android:noHistory="true" android:theme="@style/Theme.UMDialog" android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <!-- 新浪微博原生 -->
 	 <activity 
     	android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" 
     	android:configChanges="keyboardHidden|orientation"
    	android:windowSoftInputMode="adjustResize"
   	  	android:exported="false" >
	</activity>
        

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent1104887406"/> 
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        

    <!-- ###################添加UmengAppkey###################### -->
        <meta-data android:name="UMENG_APPKEY"
             android:value="55fd38b0e0f55ae67e006c27">
        </meta-data>

<meta-data
    android:name="UMENG_MESSAGE_SECRET"
    android:value="0548e932b6476d854a7b52b4aea0d417" >
</meta-data>
<!-- ###################Channel Id是啥###################### -->
<meta-data
    android:name="UMENG_CHANNEL"
    android:value="banma" >
</meta-data>
        
        <activity android:label="@string/app_name"
               android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
             android:name="com.itboye.banma.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
           <activity android:name="com.itboye.banma.activities.ActivityRedEnvelope"/>
           <activity android:name="com.itboye.banma.activities.LoginActivity"/>
           <activity android:name="com.itboye.banma.activities.RegistActivity"/>
           <activity android:name="com.itboye.banma.activities.RegsitedActivity"/>
           <activity android:name="com.itboye.banma.activities.SelectOrderAddressActivity"/>
           <activity android:name="com.itboye.banma.activities.HomePageActivity"/>
           <activity android:name="com.itboye.banma.activities.MailingAddressActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
           <activity android:name="com.itboye.banma.activities.AddAddressActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
           <activity android:name="com.itboye.banma.activities.BabyActivity"/>
           <activity android:name="com.itboye.banma.activities.ConfirmOrdersActivity"/>
           <activity android:name="com.itboye.banma.activities.BabyOrderActivity"/>
        <!--   <activity android:name="com.itboye.banma.welcome.WelcomeActivity"/> --> 
           <activity android:name="com.itboye.banma.welcome.HomeActivity"/>
           <activity android:name="com.itboye.banma.activities.PasswordActivity"/>
             <activity android:name="com.itboye.banma.activities.WebActivity"/>
           <activity android:name="com.itboye.banma.activities.MorePersonal"/>
           <activity android:name="com.itboye.banma.activities.NickName"/>
           <activity android:name="com.itboye.banma.activities.NewPhoneActivity"/>
           <activity android:name="com.itboye.banma.shoppingcart.ShoppingCartActivity"/>
           <activity android:name="com.itboye.banma.util.CaptureActivity"/>
           <activity android:name="com.itboye.banma.activities.ShengFenActivity"/>
           <activity android:name="com.itboye.banma.activities.OrderActivity"/>
           <activity android:name="com.itboye.banma.activities.OrderDetailActivity"/>
           <activity  android:name="com.itboye.banma.activities.SuggestActivity"/>
           <activity  android:name="com.itboye.banma.activities.YouHuiActivity"/>
           <activity android:name="com.itboye.banma.activities.ActivityLogistics"/>
           <activity  android:name="com.itboye.banma.activities.ActivityBind"/>
           <service android:name="com.itboye.banma.service.TokenIntentService"/>
           <!-- 监听通知点击或者忽略处理的广播 -->
<receiver
    android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
    android:exported="false" >
</receiver>

<!-- 监听开机运行、网络连接变化、卸载的广播 -->
<receiver
    android:name="com.umeng.message.SystemReceiver"
    android:process=":push" >
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
    </intent-filter>
    <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    </intent-filter>
    <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REMOVED" />
        <data android:scheme="package" />
    </intent-filter>
</receiver>

<!-- 监听消息到达的广播 -->
<receiver
    android:name="com.umeng.message.MessageReceiver"
     android:exported="false" 
   android:process=":push" >
    <intent-filter>
        <action android:name="org.agoo.android.intent.action.RECEIVE" />
    </intent-filter>
</receiver>

<!-- 监听宿主选举的广播 -->
<receiver
    android:name="com.umeng.message.ElectionReceiver"  
     android:process=":push" >
    <intent-filter>
        <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
        <category android:name="umeng" />
    </intent-filter>
</receiver>

<!-- 监听注册的广播 -->
<!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
<receiver
    android:name="com.umeng.message.RegistrationReceiver"
    android:exported="false" >
    <intent-filter>
        <action android:name="com.itboye.banma.intent.action.COMMAND" />
    </intent-filter>
</receiver>
<receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
    </intent-filter>
</receiver>

<!-- Umeng的长连服务，用来建立推送的长连接的 -->
<!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
<service
    android:name="com.umeng.message.UmengService"
    android:label="PushService"
    android:exported="true"
    android:process=":push" >
    <intent-filter>
        <action android:name="com.itboye.banma.intent.action.START" />
    </intent-filter>
    <intent-filter>
        <action android:name="com.itboye.banma.intent.action.COCKROACH" />
    </intent-filter>
    <intent-filter>
        <action android:name="org.agoo.android.intent.action.PING_V4" />
    <category android:name="umeng" />
    </intent-filter>
</service>

<!-- Umeng的消息接收服务 -->
<service android:name="com.umeng.message.UmengIntentService" 
    android:process=":push" />

<!-- Umeng的消息路由服务 -->
<service 
    android:name="com.umeng.message.UmengMessageIntentReceiverService"
    android:process=":push" 
    android:exported="true" >
    <intent-filter>
        <action android:name="org.android.agoo.client.MessageReceiverService" />
    </intent-filter>
    <intent-filter>
        <action android:name="org.android.agoo.client.ElectionReceiverService" />
    </intent-filter>
</service>

<!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
<service android:name="com.umeng.message.UmengMessageCallbackHandlerService" 
    android:exported="false">
    <intent-filter>
        <action android:name="com.umeng.messge.registercallback.action" />
    </intent-filter>
    <intent-filter>
        <action android:name="com.umeng.message.unregistercallback.action"/>
    </intent-filter>
    <intent-filter>
        <action android:name="com.umeng.message.message.handler.action"/>
    </intent-filter>
    <intent-filter>
        <action android:name="com.umeng.message.autoupdate.handler.action"/>
    </intent-filter>
</service>

<!-- V1.3.0添加的service，负责下载通知的资源 -->
<service android:name="com.umeng.message.UmengDownloadResourceService" />

<!-- V2.5.0添加的Service，用于本地通知 -->
<!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
<service android:name="com.umeng.message.local.UmengLocalNotificationService" 
android:exported="false" />
    </application>

<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
