<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itboye.banma"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.itboye.banma.welcome.AppStartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           <activity android:name="com.itboye.banma.activities.CenterActivity"/>
           <activity android:name="com.itboye.banma.activities.LoginActivity"/>
           <activity android:name="com.itboye.banma.activities.RegistActivity"/>
           <activity android:name="com.itboye.banma.activities.RegsitedActivity"/>
           <activity android:name="com.itboye.banma.welcome.WelcomeActivity"/>
           <activity android:name="com.itboye.banma.welcome.HomeActivity"/>
    </application>

</manifest>
